
.menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menubar>li {
  float: left;
}

.menubar>li>a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menubar>li a:hover, .dropdown:hover {
  background-color: red;
}

.activo {
  background-color: red;
  display: block;
}

.menubar>li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.pagediv{
  width: 100%;
  min-height: 300px;
  background-color: gainsboro;
  
  }
  .hide{
    display: none;
  }

.dropdown-content a:hover {background-color: red}
/*.dropdown-content a:hover {background-color: #f1f1f1}*/

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background-color: #171717;
  color: #717171;
/*  background-image: url("../img/moon_PNG202.png");*/
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: 0px -160px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #b23c1c;
}
.wrap {
  width: 60%;
  margin: 0 auto;
}
.header {
  height: 200px;
  margin: 0 10px 0 10px;
}
.container{
  padding: 0 10px 0 10px;
  display: inline-block;
}
.content {
  width: 70%;
  height: auto;
  float: left;
}
.sidebar {
  width: 25%;
  height: auto;
  float: right;
  line-height: 1.8em;

}
.sidebarcontent {
  padding: 10px;
  font-size: 0.8em;
}
.footer {
  width: 100%;
  background-color: #2b2b2b;
  margin: 0 auto;
  float: left;  
  font-size: 0.7em;
  line-height: 1.5em;
}

.footer > h2 {
   color: #ffffff;
}

.footercontainer {
  width: 60%;
  margin: 0 auto;
  height: auto;
}

.footercontent {
  float: left;
  width: 70%;
  height: 180px;
  padding: 0 10px 0 10px;
  line-height: 1.5em;
}

.bvindos{
  width: 50%;
  float: left;
  margin-right: 10px
 }
.agradecimentos{
  float: left;
  width: 45%;
  margin-left: 10px;
}
.footersidebar {
    float: left;
    width: 24%;
    padding: 0 10px 0 0;
}

.h2title {
  color: #ffffff;
}
.copyright {
  text-align: center;
  font-size: small;
  color: #717171;
}
.copyright a {
  color: #2b2b2b;
  font-weight: bold;
}
.clear {
  clear: both;
}

.logo {
  float: left;
  width: 200px;
  color: #b23c1c;
  font-size: 2.5em;
  padding-top: 40px;
  text-transform: lowercase;
}
.logospan {
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.5em;
  line-height: 0;
  font-style: italic;
  color: #717171;
  padding-top: 5px;
}

.titulo {
  color: #b23c1c;
  margin-top: 0;
}

.post {
  padding-bottom: 50px;
  font-size: 0.8em;
  text-align: justify;
  line-height: 1.5em;
}
.postheader {
  padding-bottom: 20px;
}
.postcontent {
  padding: 10px 0 10px;
}
.postfooter {
  font-weight: bold;
}
.postfooter a {
  color: #ffffff;
  padding: 20px;
}
.postfooter a:hover {
  color: #c41900;
}
.postheader span {
  font-weight: bold;
  font-size: 0.9em;
  padding: 5px 0;
}

.dataPublicacao {
  float: left;
  font-style: inherit;
}
.autor {
  float: right;
  font-style: inherit;
  padding-left: 5px;
}

.topmenu {
  list-style-type: none;
  font-weight: bold;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  float: right;
}

.topmenu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-top: 70px;
  text-decoration: none;
}
.topmenu a:hover {
  background-color: #c41900;
}
.topmenu li {
  float: left;
}
/*Content Page */
.contentpagediv{
  float: left;;
  width: 100%;
}
.contentleft{
  background-color: #2b2b2b;
  float: left;
  width: 70%;
}
.contentright{
  float: left;
  width: 30%;
}

/*Login FORM*/
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.formcontainer {
  padding: 16px;
}
